@use "variables" as v;
@use "mixins" as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #666565;
  color: v.$text-color;
  min-height: 100vh;
}

.main-header {
  width: 45%;
  padding: 20px;
  background-color: rgb(29, 29, 29);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  border-radius: 10px;
  border-bottom: 3px solid orange;
  position: sticky;
  top: 0;
  z-index: 100;

  .logo-link {
    text-decoration: none;

    .nav-title {
      color: orange;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.05);
        text-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
      }
    }
  }
}

.products-element {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px 50px 20px;
  height: fit-content;

  .category-section {
    text-align: center;
    font-size: 1.2rem;

    .category-title {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 900;
      margin-bottom: 3rem;
      border-bottom: 5px solid orange;
      display: inline-block;
      padding-bottom: 10px;
    }

    .category-grid {
      display: grid;
      gap: 2rem;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }

  .products-card {
    display: flex;
    flex-direction: column;
    background: v.$elevation-2;
    border-radius: v.$border-radius;
    box-shadow: v.$box-shadow;
    overflow: visible;
    border: 1px solid #eee;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }

    .products-element__items {
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-title {
        color: orange;
        font-weight: bold;
        text-align: center;
      }

      .image-wrapper {
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(187, 186, 186);
        border-radius: 4px;
      }

      &-image {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
      }

      &-description {
        font-size: 1rem;
        height: 150px;
        overflow-y: auto;
        color: v.$text-color;

        scrollbar-width: thin; /* Firefox */
        scrollbar-color: orange #333; /* Firefox */

        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: orange;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: #333;
        }
      }

      &-price {
        font-size: 1.3rem;
        color: orange;
        font-weight: bold;
        text-align: right;
      }

      &--buy-button {
        font-size: 1.2rem;
        font-weight: 700;
        background: none;
        color: orange;
        border: none;
        cursor: pointer;
        align-self: flex-start;

        &:hover {
          border-bottom: 4px solid orange;
          transform: scale(1.1);
        }
      }
    }
    .products-element__counter {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 10px auto 10px auto;
      flex-wrap: wrap;

      button {
        width: 40px;
        height: 40px;
        font-size: 1.6rem;
        font-weight: bold;
        color: white;
        background-color: black;
        border: 2px solid orange;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: orange;
          color: black;
          transform: scale(1.1);
        }
      }

      .counter-value {
        font-size: 1.4rem;
        font-weight: bold;
        color: white;
        width: 30px;
        text-align: center;
      }

      .counter-price {
        font-size: 1.3rem;
        font-weight: bold;
        color: orange;
        margin-left: 10px;
        min-width: 60px;
        text-align: center;
      }
    }
  }
}
