@use "variables" as v;
@use "mixins" as m;

@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Scribble&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgb(220, 220, 221);
  text-shadow: v.$text-shadow;
  font-family: "Inter", sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 15px 20px;
  background: #202020;
  color: v.$text-color;

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__searchbar {
    display: flex;
    width: fit-content;
    margin-left: auto;
    position: relative;

    #searchbar {
      width: 300px;
      padding: 0.7rem 1rem;
      border-radius: v.$border-radius;
      border: 1px solid #555;
      background-color: #2b2b2b;
      color: #fff;
      font-size: 16px;

      &:focus {
        outline: none;
        border-color: #f59e0b;
        box-shadow: 0 0 5px rgba(245, 158, 11, 0.5);
      }

      @include m.smallScreens {
        display: none;
      }
    }

    #suggestions {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #1e1e1e;
      border-radius: 0 0 8px 8px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
      z-index: 9999;
      height: fit-content;
      overflow-y: auto;
      border: 1px solid #444;
      border-top: none;
      display: none;

      .suggestion-item {
        padding: 12px 15px;
        cursor: pointer;
        color: #fff;
        border-bottom: 1px solid #333;
        transition:
          background 0.2s,
          color 0.2s;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: #f59e0b;
          color: #1e1e1e;
        }
      }
    }
  }

  &__hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1100;

    @include m.smallScreens {
      display: flex;
    }

    &-line {
      width: 32px;
      height: 4px;
      background: v.$text-color;
      margin: 4px 0;
    }
  }
}

/* Desktop Navigation */
.nav {
  display: flex;
  text-shadow: v.$text-shadow;

  &--desktop {
    display: flex;

    @include m.smallScreens {
      display: none;
    }
  }

  &__item {
    color: v.$text-color;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 6px;

    &--has-dropdown {
      cursor: pointer;
      &:hover .nav__dropdown {
        display: flex;
      }
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background: #2b2b2b;
    padding: 10px 0;
    border-radius: v.$border-radius;
    min-width: 150px;
    z-index: 1002;

    &-item {
      padding: 10px 20px;
      color: v.$text-color;
      text-decoration: none;
      &:hover {
        background: #3a3a3a;
      }
    }
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #2b2b2b;
  padding-top: 20px;
  transition: right 0.4s ease;
  z-index: 1001;

  &--open {
    right: 0;
  }

  &__search-container {
    padding: 0 20px 15px 20px;
    flex-shrink: 0;
    border-bottom: 1px solid #444;
  }

  &__content {
    flex-grow: 1;
    overflow-y: auto;
  }

  &__item {
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #3a3a3a;

    &:hover {
      background: #3a3a3a;
    }
  }
}

/* Die Suchleiste in der Sidebar */
.side__searchbar {
  position: relative;

  input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #555;
    background: #fff;
    color: #000;
  }

  .side__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #1e1e1e;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1002;
    max-height: 200px;
    overflow-y: auto;
    display: none;

    .suggestion-item {
      padding: 10px 15px;
      color: #fff;
      cursor: pointer;
      border-bottom: 1px solid #333;

      &:hover {
        background: #f59e0b;
        color: #000;
      }
    }
  }
}

/* Sidebar Searchbar */
.side__searchbar {
  input {
    width: 100%;
    padding: 10px;
    border-radius: v.$border-radius;
    border: none;
    background: #ddd;
    color: black;
  }
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  text-align: center;
  gap: 1rem;
  text-shadow: v.$text-shadow;
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("../images/shop.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 20px;
  &-title {
    font-size: 2rem;
    margin-top: 5rem;
    font-weight: 800;
    color: v.$text-color;
  }

  &__button {
    padding: 1rem 1.8rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: v.$elevation;
    color: v.$text-color;
    border-radius: v.$border-radius;
    border: 1px solid white;

    &:hover {
      background-color: v.$elevation-2;
    }
  }

  .hero-products {
    &__wrapper {
      max-width: 1000px;
      width: 100%;
      height: 500px;
      padding: 0 40px;
      position: relative;
      margin: 0 auto;
      text-shadow: v.$text-shadow;
      font-size: 1rem;
    }

    &__subtitle {
      text-shadow: none;
      font-size: 2rem;
      font-weight: 800;
      color: v.$title-color;
      margin-top: 4rem;
    }

    &__scrollContainer {
      display: flex;
      overflow-x: auto;
      gap: 16px;
      padding: 40px 10px;
      margin-top: 30px;
      scroll-behavior: smooth;
      padding-bottom: 10px;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item-box {
      flex: 0 0 400px;
      margin: 2rem 0.5rem;
      background: v.$elevation-2;
      color: v.$text-color;
      height: fit-content;
      border-radius: v.$border-radius;
      padding: 12px;
      text-align: center;
      box-shadow: v.$box-shadow;

      transition: transform 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        z-index: 20;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
    }

    &__title {
      color: v.$title-color;
      margin-bottom: 8px;
      font-size: 1.1rem;
    }

    &__price {
      font-size: 0.9rem;
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      font-size: 1rem;
      color: v.$text-color;
      margin-top: 0.7rem;
    }

    &__view {
      font-size: 0.9rem;
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      font-size: 1rem;
      color: v.$text-color;
      margin-top: 0.7rem;
      display: inline-block;
      border-bottom: 2px solid transparent;
      transition: all 0.2s;

      &:hover {
        border-bottom: 3px solid orange;
        width: fit-content;
      }
    }

    &__image {
      height: 250px;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
      border: 1px solid #ccc;
    }

    &__arrow-left,
    &__arrow-right {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 78%;
      transform: translateY(-50%);
      z-index: 100;
      background: rgba(209, 154, 2, 0.8);
      color: white;
      border: none;
      width: 50px;
      height: 60px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 30px;
      transition:
        background 0.3s,
        opacity 0.3s;

      &:hover {
        background: rgb(53, 52, 52);
      }
    }

    &__arrow-left {
      left: -1rem;
    }
    &__arrow-right {
      right: -1rem;
    }
  }
}

/* About Us Section */
.about-us {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: fit-content;
  margin: 3rem auto;

  font-size: 1rem;
  color: v.$text-color;
  border-radius: v.$border-radius;
  gap: 1rem;
  box-shadow: v.$box-shadow;
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("../images/about.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 20px;

  &__title,
  &__subtitle,
  &__footer {
    display: flex;
    justify-content: start;
    width: fit-content;
    font-weight: 800;
    margin: 0.1rem;
    color: v.$title-color;
    border-bottom: 2px solid white;
    font-size: 1.6rem;
  }

  &__list {
    margin-left: 3rem;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: flex-start;
  gap: 0.65rem;
  text-shadow: v.$text-shadow;

  &__title {
    color: v.$title-color;
    text-shadow: none;
    margin: 2rem auto;
    box-shadow: v.$box-shadow;
    padding: 1rem;
    border-radius: v.$border-radius;
    width: 70%;
    background: #2b2b2b;
    font-size: 1.4rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    height: fit-content;
    gap: 0.65rem;

    #firstname {
      padding: 0.75rem;
      box-shadow: v.$box-shadow;
      max-width: 250px;
      border-radius: v.$border-radius;
      font-size: 1.2rem;
    }
    #lastname {
      padding: 0.75rem;
      box-shadow: v.$box-shadow;
      max-width: 250px;
      border-radius: v.$border-radius;
      font-size: 1.2rem;
    }

    #email {
      padding: 0.75rem;
      box-shadow: v.$box-shadow;
      max-width: 350px;
      font-size: 1.2rem;
      border-radius: v.$border-radius;
    }

    #commentInput {
      padding: 0.75rem;
      font-size: 1.2rem;
      display: flex;
      text-align: start;
      justify-content: flex-start;
      box-shadow: v.$box-shadow;
      width: 100%;
      height: 120px;
      border-radius: v.$border-radius;
      resize: vertical;
      font-family: inherit;
      border: 1px solid #ccc;
    }

    #firstname,
    #lastname,
    #email,
    #commentInput {
      @include m.hover-effect;
    }
  }

  #save {
    display: flex;
    align-self: flex-end;
    margin-right: 15%;
    padding: 1rem 2rem;
    border-radius: v.$border-radius;
    background: v.$elevation;
    color: v.$text-color;
    &:hover {
      background: v.$elevation-2;
      transition: all 0.3s ease-in-out;
    }
  }

  &__texts {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 3rem;

    #commentList {
      display: flex;
      list-style: none;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      background: transparent;
      box-shadow: v.$box-shadow;
      border-radius: v.$border-radius;
      list-style: none;
      padding: 0.75rem;
      gap: 0.8rem;
    }

    .commentList__comment-item {
      color: v.$text-color;
      background-color: v.$elevation-2;
      border-radius: v.$border-radius;
      padding: 1.2rem;
      font-size: 1.1rem;
      box-shadow: v.$box-shadow;
      line-height: 1.6rem;
      border-left: 5px solid orange;
      transition: transform 0.2s ease;
      word-wrap: break-word;
      &:hover {
        transform: translateY(-3px);
      }
    }
    .commentList__comment-item strong {
      border-bottom: 4px solid v.$title-color;
      width: 100%;
    }
  }
}

.opening-times {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  margin: 1rem auto;
  color: v.$text-color;
  text-shadow: v.$text-shadow;
  font-size: 1.2rem;
  gap: 1rem;
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("../images/open.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 20px;

  &__title {
    color: v.$title-color;
    font-size: 1.5rem;
    border-bottom: 3px solid #ddd;
  }

  &__wrapper {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    min-width: 200px;
    max-width: 470px;
    justify-content: space-between;

    // @include m.largeScreens {
    //   width: 20%;
    // }
  }
  &__days,
  &__times {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin: auto;
    text-shadow: v.$text-shadow;
  }
}

.footer {
  background-color: #1a1a1a;
  color: #ccc;
  padding: 80px 20px 20px;
  font-family: "Arial", sans-serif;

  &-map {
    width: 100%;
    margin: 3rem 0;
    padding: 0 20px;

    &__title {
      display: flex;
      justify-content: center;
      color: v.$title-color;
      margin-bottom: 1rem;
    }

    &__container {
      max-width: 1000px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: v.$border-radius;
      box-shadow: v.$box-shadow;

      iframe {
        display: block;
        filter: grayscale(90%) invert(90%) contrast(90%);
        &:hover {
          filter: none;
          transition: filter 0.7s ease;
        }
      }
    }
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
  }

  &__logo {
    font-size: 1.4rem;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #999;
  }

  &__list {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 12px;

      a {
        color: #ccc;
        display: inline-block;
        text-decoration: none;
        transition:
          color 0.3s ease,
          padding-left 0.3s ease;

        &:hover {
          color: #fff;
          padding-left: 5px;
        }
      }
      &#adress {
        line-height: 1.6;

        a {
          display: block;
        }
      }
    }
  }

  &__newsletter-form {
    display: flex;
    margin-top: 15px;
    color: #ccc;

    input {
      background: #333;
      border: none;
      padding: 12px;
      color: #ccc;
      border-radius: 4px 0 0 4px;
      width: 100%;
    }

    button {
      background: #fff;
      color: #000;
      border: none;
      padding: 0 20px;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.3s;

      &:hover {
        background: #ddd;
      }
    }
  }

  &__bottom {
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid #333;
    font-size: 0.85rem;

    &-content {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &__legal a {
    color: #666;
    margin-left: 20px;
    text-decoration: none;
    &:hover {
      color: #ccc;
    }
  }
}
